.content-checkout{
    width: 96%;
    padding: 0 0 2% 2%;
    display: flex;
}
.narbar-thanhtoan{
    height: 40px;
    text-align: center;
    color: dimgrey;
}
.content-check-left{
    width: 30%;
    height: 800px;
  
}
.content-check-right{
    width: 70%;
    height: 600px;
    background-color: blueviolet;
}   
.check-left-table-1{
    width: 96%;
    height: 250px;
    padding: 0 0 2% 2%;

}
.check-left-title-1{
    height: 50px;
    background-color: rgb(126, 126, 126);
}
.check-left-content-input input{
    width: 100%;
    height: 45px;
    margin-top: 20px; 
    padding-left: 3%;

}