.header {
  height: 156px;
  background-color: #1730a1;
}

.header a {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.navbar-1 a {
  color: #fff;
}

.navbar-1 {
  height: 30px;
  background-color: #0c248e;
  padding: 0px;

}

li {
  list-style: none;

}

.box-down-tk {
  width: 89px;
  height: 61px;
  background-color: #fff;
  position: absolute;
  margin-top: 29px;
  padding-top: 5px;

  display: none;
}

.box-tk-1 {
  padding: 5px;
}

.box-tk a:hover {
  color: yellow;
}

.box-tk :hover .box-down-tk {
  display: block;
}

.box-down-tk span:hover {
  color: orangered;
}

.navbar-2 {
  height: 60px;
  display: flex;
  margin-top: 26px;
}

.nb-2-logo {
  width: 15%;

}

.nb-2-search {
  display: flex;
  width: 60%;
  height: 35px;
  background-color: white;
  border-radius: 2px;
}

.nb-2-icon {
  width: 25%;
}

/* nb con  */
.nb-2-sp {
  width: 25%;
}

#toanbonhom {
  width: 100%;
  height: 35px;
  margin-left: 1px;
  border-block-style: none;
  border: 0px;
  border-right: 1px solid;
}

#search {

  height: 33px;
  width: 84%;
  margin-left: 3px;
  border: 0px;
}

.nb-2-sh {
  width: 75%;

}

.btn-search {
  width: 12%;
  height: 29px;
  background-color: #0572ce;
  border: none;
  color: #fff;
}

.nb-2-icon {
  display: flex;
  height: 35px;
}

.nb-2-box-table {
  float: left;
}

.nb-2-icon-3 {
  position: relative;
  margin-left: 10px;
  width: 37px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  color: #1730a1;
  /* padding-top: 20px; */
  text-align: center;
  line-height: 37px;
  float: left;

}

.box-nb-icon {
  margin-left: 70px;
}

.nb-2-icon-4 {
  width: 100px;
  height: 35px;
  color: #fff;
  margin-left: 10px;
  padding-top: 0px;
  float: left;
  text-align: center;
}

.nb-2-icon p {
  margin-top: -4px;
  font-size: 13px;
  text-align: center;

}

/* open menu */
.navbar-3 {
  height: 40px;
 
}

.nb-3-sp {
  width: 20%;
  background-color: yellow;
  height: 40px;
  color: #1730a1;
  line-height: 2;
  font-weight: 300;
  border-radius: 4px 4px 0px 0px;
  position: relative;

}

.text-sp {
  size: 22px;
  padding-right: 155px;
  padding-left: 5px;
  font-family: inherit;
  font-weight: 800;
  font-size: larger;

}

#li span {
  color: rgb(94, 94, 94);
  margin-left: 10px;


}

.dropbtn {
  z-index: 1000;
  background-color: #f2f2f2;
  height: 350px;
  padding: -4px;
  margin-top: 2px;
  margin-left: 0px;
  font-size: revert;
  padding-left: 0px;
  display: none;

}

.nb-3-sp :hover .dropbtn {
  display: block;
}

.box-sp-drd :hover .dropbtn {
  display: block;
}

.btn-open-menu {
  margin-left: 6px;
}

.nb-3-sph {
  display: flex;
  width: 50%;
}

.nb-3-left {
  display: flex;
  width: 30%;

}

.nb-3-sph-down {
  width: 20%;
  margin-left: 20px;
  color: #fff;

}

.nb-3-sph span {
  font-family: inherit;
  font-weight: 800;
  font-size: unset;
}

.nb-3-sph-tvtd {
  width: 20%;
  text-align: center;
  color: #fff;

}

#boxnb3 {
  margin-top: 10px;
}

.nb-3-left li {
  list-style: none;
  margin-top: 15px;
  color: #fff;
  /* size: 9px; */
  font-style: unset;
  font-size: x-small;
  margin-left: 5px;

}

.hv-yellow {
  color: #fff;
  font-size: 10px;
}

.nb-3-left a:hover {
  color: yellow;
}

.box-3 {
  width: 120px;
}

.navbar-3 .dropbtn li {
  list-style: none;
  margin-left: 0px;
  /* margin-top: -1px; */
  padding-top: 11px;
}

.navbar-3 .dropbtn li:hover {
  background-color: yellow;
}

.fas.fa-chevron-right {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}


.nb-3-sph-down {
  position: relative;
  display: inline-block;
}

.row {
  display: flex;
}

.dropdown-content {


  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 700px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  margin-left: -20px;
  margin-top: 6px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: yellow
}

#boxnb3 span:hover {
  color: yellow;
}

.nb-3-sph-down:hover .dropdown-content {
  display: block;
}

.dropdown-right {
  display: none;
  position: absolute;
  background-color: #ececec;
  width: 700px;
  margin-left: 98%;
  /* padding-left: 28px; */
  margin-top: -44px;
  height: 300px;
  padding: inherit;


}

/* .column1 {
  float: left;
  width: auto;
  padding: 10px;
  text-align: center;
} */
.colum {
  margin-left: 50px;
}

.box-drd1 :hover .dropdown-right {
  display: block;
}

.dropdown-right a:hover {
  background-color: yellow;
}

.dropdown-right-2 {
  display: none;
  position: absolute;
  background-color: #ececec;
  width: 700px;
  margin-left: 98%;
  padding-left: 23px;
  margin-top: -86px;
  height: 300px;

}

.box-drd2 :hover .dropdown-right-2 {
  display: block;
}

.dropdown-right-2 a:hover {
  background-color: yellow;
}

.nb-2-box-table {
  margin-top: 40px;
  border-bottom: 0.5px solid #ddd;
  width: 20%;
  padding-left: 0px;
  margin-right: 30px;
  position: absolute;
  right: 0;
  width: 350px;
  background-color: #fff;
  color: #666;
  font-size: .9rem;
  z-index: 100;
  display: none;

}

.box-table-hv {
  float: left;
}

.box-table-hv:hover .nb-2-box-table {
  display: block;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;

}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.img-product img {
  width: 50px;
  height: 50px;

}

.text-table span {
  float: right;
}

.go-to-cart {
  color: #fff;

}

#box-go-to-cart {
  margin-bottom: 8px;
  margin-left: 15px;
  padding: 4px;
  width: 90%;
  height: 80%;
  background-color: orangered;
  border-radius: 2px;
  /* margin-top: -8px; */
  text-align: center;

}



/* bodyyyyyyyyyyyyyyyyyyyyyyyyyyy */
.container {
  width: 100%;
  height: auto;
  z-index: -100;

}

.container-left {
  width: 20%;
  height: auto;
  z-index: -10;
  float: left;
}

.container-top {
  width: 80%;
  height: 400px;
  display: flex;
  z-index: -10;
}

.container-right-1 {
  width: 75%;
  height: 500px;
  display: flex;
}

.container-slide-1 {
  width: 100%;
  height: 360px;
  padding: 20px;
  z-index: -20;

}

.container-right-2 {
  margin-left: 20px;

  width: 25%;
  height: 360px;
  margin-top: 20px;
}

.sale {
  background-color: #e9ecf1;
  margin-top: -17px;
  padding-bottom: 2px;
}

.slide-2 {
  width: 90%;
  height: 86%;
  border-radius: 1px;
  border: 1px solid rgb(180, 180, 180);
}

.slide-2 .sale h2 {
  padding-top: 8px;
  padding-left: 15px;
  font-size: 20px;
}

.slide .sale {

  width: auto;
  height: 35px;
  background-color: gray;
}

.slide-2 .item-slide-2 {
  width: auto;
  height: 74px;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
  margin-top: -10px;
}

.item-slide-2 {
  display: flex;

}

.item-slide-2 img {
  width: 70px;
  height: 50px;
  padding-top: 5px;
}

.slide-2-text {
  padding: 7px;
  font-size: 14px;
}

.container-2 {
  width: 80%;
  height: 160px;
  display: flex;
}

.ctn-2-img {
  width: 25%;
  padding: 20px;
}
.ctn-2-img img{
  width: 100%;
}
.xemnhieu h1 {
  font-size: 20px;
  padding-left: 20px;
}

#HR {
  width: 250px;
  height: 2px;
  background-color: coral;
}

.ctn-list-sp {
  width: 75%;
  height: 360px;
  overflow: hidden;
  display: flex;
  position: relative;
}

#ten-sp {
  text-align: center;
  font-size: smaller;

}

#ten-sp a:hover {
  color: #006fca;
}

.ctn-sp {
  width: 20%;
  height: 100%;
  padding: 20px;
  margin-left: 2px;
  background-color: #ffffff;
}

.img-sp {
  width: 150px;
  height: 150px;

  margin-left: 20px;
}

.img-sp img {
  width: 100%;
  height: 100%;
}

.img-item {
  width: 150px;
  height: 50px;
  background-color: #666;
  margin-left: 20px;
}

.ten-sp {
  width: 100%;
}


.ctn-list-sp a {
  text-decoration: none;
  color: #3d3d3d;
  size: 10px;

}

#sp-km {
  text-align: center;

}

.giamgia-ctn {
  display: flex;
  margin-left: 38px;
}

#gia-sp {
  color: #4242ff;
  /* font-size: inherit; */
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

.giagiam del {
  font-size: small;
  color: darkgrey;

}

.phantram {
  color: #e50000;
  font-weight: bolder;
}

.container-3-img {
  display: flex;
  margin-top: 20px;
  width: 80%;
  height: 250px;

}

.ctn-tragop {
  text-align: center;
  /* float: right; */
  width: 70px;
  height: 20px;
  background-color: yellow;
  font-size: small;
  margin-left: 120px;
  position: absolute;
}

.ctn-3-img {
  width: 50%;
  padding: 20px;


}

.ctn-3-img img {
  width: 100%;
  height: 100%;
}

.img-item-1 {
  width: 120px;
  height: 24px;
  margin-left: 14px;
  margin-top: -10px;
}

.img-item-1 img {
  width: 100%;
  height: 100%;
}

.img-item-2 {
  margin-left: 40px;
  margin-top: 24px;
  display: flex;
  width: 120px;
  height: 39px;
  background-color: #fff;
  z-index: 10;


}

.item-2-sp {
  color: orangered;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 22px;
  border: 1px solid orangered;
  margin-right: 7px;
  display: none;
  z-index: 100;
}

.item-con {
  margin-left: 7px;
  margin-top: 7px;
}

.item-2-sp:hover {
  color: #fff;
  background-color: orangered;

}

.ctn-sp:hover .item-2-sp {
  display: inline-block;
}

.ctn-sp:hover .sp-km {
  display: none;
}


.input-left {
  margin-top: 11%;
  width: 48px;
  height: 48px;
  background-color: #adadad;
  border-radius: 30px;
  display: none;
}

.fa-angle-left {
  font-size: 36px;
  margin-left: 14px;
  margin-top: 6px;
}

.fa-angle-right {
  font-size: 36px;
  margin-left: 14px;
  margin-top: 6px;
}

.box-sp-hv {
  width: 100%;
  display: flex;
}

.box-sp-hv :hover .ctn-list-sp {
  display: block;
}

/* ------footer-------- */
.footer-web {
  height: 400px;
  width: 100%;
}

.footer-seach {
  background-color: rgb(91 91 255);
  margin-top: 30px;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
}

.ft-box {
  height: 45px;
  width: 100%;
  display: flex;
  padding: 32px;
}

.footer-seach img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 3px;
  opacity: 30%;
}
.footer-seach img:hover{
  opacity: 100%;
}
.ft-seach {
  height: 35px;
  margin-left: 62px;
  width: 40%;
  border-radius: 6px;
  background-color: #fff;
}

.btn-search {
  border: none;
}

.ft-seach button {
  background-color: yellow;
  height: 82%;
  margin-top: 0px;
  width: 200px;
  border-radius: 0 6px 6px 0px;
}

#dangki {
  width: 51%;
  height: 40px;
  text-align: right;
  margin-top: 12px;

}

#dangki h1 {
  font-size: 20px;
  text-align: right;
  color: #ffffff;
  text-align: center;
  /* margin-right: -97px; */
  float: right;
  margin-top: -3px;

}

.container-btn-end {
  display: flex;
  width: 100%;
  height: 40px;
}

.search {

  height: 33px;
  width: 84%;
  margin-left: 3px;
  border: 0px;
}

/* footer end------------------ */
.footer-end {
  width: 96%;
  height: 300px;
  margin-top: 12px;

  display: flex;
}

.ft-end-1 {
  width: 290px;
  margin-left: 60px;

}

.ft-end-2 {
  width: 240px;
  margin-left: 10px;
}

.ft-end-3 {
  margin-left: 10px;
}

.ft-end-1 img {
  width: 80px;
  height: 70px;
}

.ft-end-1 li {
  font-size: 16px;
  list-style: none;
  margin-top: 10px;
  color: #4e4d4d;
}

.ft-end-2 .hr-end {
  width: 90%;
  height: 1px;
  background-color: rgb(45, 45, 252);
  margin-top: 5px;

}

.ft-end-2 h1 {
  font-size: 17px;
}

.ft-end-2 li {
  color: rgb(91 91 255);
  font-size: 16px;
  margin-top: 5px;
  list-style: disc;
}

.ft-end-3 {
  display: flex;
  width: 300px;
}

.ft-end-3 #imghg {
  width: 60px;
  height: 60px;
}

.ft-end-3 #imgbct {
  width: 180px;
  height: 60px;
  margin-left: 20px;
}
